.manage__dataSchedule {
  padding-top: 10px;
  padding-left: 30px;
  margin-top: 50px;
  height: 1200px;
  width: 100%;
  background-color: #ffffff;
}
.manage__contentSchedule {
  margin-top: 100px;
  height: 800px;
  background-color: #ffffff;
}
.manage__mainSchedule {
  position: relative;
  top: 90px;
  height: 2500px;
  background-color: #f5f6f8;
}
.manage__sortSearch {
  font-family: "Mulish", sans-serif;
  position: relative;
  top: -90px;
  left: -180px;
  height: 65px;
  width: 100px;
  padding: 20px;
  background: #fcfdfe;
  border: 1px solid #dedede;
  border-radius: 16px;
  color: #a0a3bd;
  align-items: flex-start;
}
.manage__locationSearch {
  font-family: "Mulish", sans-serif;
  position: relative;
  top: -90px;
  left: -250px;
  height: 65px;
  width: 200px;
  padding: 20px;
  background: #fcfdfe;
  border: 1px solid #dedede;
  border-radius: 16px;
  color: #a0a3bd;
  align-items: flex-start;
}
.manage__movieSearch {
  font-family: "Mulish", sans-serif;
  position: relative;
  top: -90px;
  left: -220px;
  height: 65px;
  width: 300px;
  padding: 20px;
  background: #fcfdfe;
  border: 1px solid #dedede;
  border-radius: 16px;
  color: #a0a3bd;
  align-items: flex-start;
}
@media screen and (max-width: 800px) {
  .manage__mainSchedule {
    height: 3000px;
  }
  .manage__contentSchedule {
    margin-top: 100px;
    height: 1700px;
    background-color: #ffffff;
  }
  .manage__scheduleSearchsort {
    display: none;
  }
  .viewall__listTitle {
    margin-bottom: 50px;
  }
  .manage__dataSchedule {
    overflow: auto;
    height: 800px;
  }
}
