.fix__card {
  vertical-align: top;
  height: 408px;
  width: 223px;
  margin-right: 40px;
  display: inline-block;
  background: #ffffff;
  border: 1px solid #dedede;
  border-radius: 8px;
}
.fix__movieShow {
  position: relative;
  left: -13px;
  top: -13px;
  height: 159px;
  width: 244px;
  width: 100%;
  white-space: normal;
  border-radius: 8px;
}
.fix__card:hover {
  background-color: #ffffff;
  border: 0.5px solid #dedede;
  box-shadow: 0px 8px 30px rgba(186, 186, 186, 0.25);
  border-radius: 8px;
}
.fix__titleMovieShow {
  position: relative;
  top: -20px;
  left: 10px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.15px;
  color: #14142b;
}
.fix__desMovieShow {
  position: relative;
  top: -20px;
  left: 18px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #a0a3bd;
  text-align: center;
}
.fix__btnMovieShow {
  position: relative;
  top: -20px;
  left: 30px;
  border: 1px solid #5f2eea;
  box-sizing: border-box;
  border-radius: 4px;
  color: #5f2eea;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  height: 33px;
  width: 159px;
}
.fix__btnMovieShow:hover {
  background-color: #5f2eea;
  color: #ffffff;
}
.fix__movieCardImg {
  padding: 30px;
  border-radius: 6px;
  width: 220px;
  height: 280px;
}
