.profile__main {
  position: relative;
  top: 90px;
  height: 1200px;
  background-color: #f5f6f8;
}
.profile__info {
  position: relative;
  top: 90px;
  height: 400px;
  background-color: #ffffff;
  box-shadow: 0px 8px 32px rgba(186, 186, 186, 0.08);
  border-radius: 24px;
}
.profile__infotitle {
  position: relative;
  top: 30px;
  text-align: center;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}
.profile__infoname {
  position: relative;
  top: 40px;
  text-align: center;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 34px;
  color: #14142b;
}
.profile__profileImg {
  position: relative;
  top: 30px;
  left: 25%;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-top: 20px;
}
.profile__menu {
  position: relative;
  top: 90px;
  height: 80px;
  background: #ffffff;
  border-radius: 16px;
}
.profile__detail {
  position: relative;
  top: 90px;
  margin-top: 30px;
  height: 350px;
  background: #ffffff;
  border-radius: 16px;
}
.profile__btnMenu {
  padding-top: 20px;
  margin-left: 50px;
  background-color: #ffffff;
  border: none;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  border-bottom: 2px solid #5f2eea;
}
.profile__btnNextMenu {
  padding-top: 20px;
  margin-left: 50px;
  background-color: #ffffff;
  border: none;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #aaaaaa;
}
.profile__buttonLogout {
  position: relative;
  top: 70px;
  left: 30%;
  background: #5f2eea;
  border-radius: 16px;
  width: 120px;
  height: 40px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #f7f7fc;
}
.profile__buttonLogout:hover {
  background-color: #ffffff;
  color: #5f2eea;
  border: 2px solid #5f2eea;
}
.profile__detailTitle {
  position: relative;
  top: 30px;
  text-align: center;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #14142b;
}
.profile__nameForm {
  position: relative;
  top: 30px;
  left: 40px;
}
.profile__detailForm {
  margin-bottom: 30px;
  height: 64px;
  width: 380px;
  padding: 20px;
  background: #fcfdfe;
  border: 1px solid #dedede;
  border-radius: 16px;
  color: #a0a3bd;
  align-items: flex-start;
}
.profile__btnChangeDetail {
  position: relative;
  top: 350px;
  background: #5f2eea;
  border-radius: 16px;
  width: 300px;
  height: 40px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #f7f7fc;
}
.profile__btnChangeDetail:hover {
  background-color: #ffffff;
  color: #5f2eea;
  border: 2px solid #5f2eea;
}
.profile__password {
  position: relative;
  top: 150px;
  margin-top: 30px;
  height: 250px;
  background: #ffffff;
  border-radius: 16px;
}
.profile__btnChangePassword {
  position: relative;
  top: 250px;
  background: #5f2eea;
  border-radius: 16px;
  width: 300px;
  height: 40px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #f7f7fc;
}
.profile__btnChangePassword:hover {
  background-color: #ffffff;
  color: #5f2eea;
  border: 2px solid #5f2eea;
}
@media screen and (max-width: 800px) {
  .profile__main {
    height: 1500px;
  }
  .profile__info {
    width: 400px;
  }
  .profile__menu {
    position: relative;
    left: -110px;
    width: 400px;
    margin-top: -100px;
  }
  .profile__detail {
    width: 400px;
    position: relative;
    left: -110px;
    top: 500px;
  }
  .profile__password {
    width: 400px;
    position: relative;
    left: -110px;
    top: 560px;
  }
  .profile__detailForm {
    width: 120px;
  }
}
