.ticket__main {
  position: relative;
  top: 90px;
  height: 1000px;
  background-color: #f5f6f8;
}
.ticket__content {
  position: relative;
  padding: 50px;
  top: 90px;
  height: 600px;
  background-color: #ffffff;
}
.ticket__title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #14142b;
  text-align: center;
}
.ticket__card {
  display: flex;
}
.ticket__left {
  flex: 2;
  background-color: #5f2eea;
  border: 2px solid #5f2eea;
  border-top-left-radius: 30px;
  padding-left: 30px;
  padding-top: 20px;
}
.ticket__headLeft {
  height: 50px;
}
.ticket__right {
  flex: 1;
  background-color: #5f2eea;
  border: 2px solid #5f2eea;
  padding-left: 30px;
  padding-top: 20px;
}
.ticket__headRight {
  height: 60px;
}
.ticket__logo {
  height: 30px;
}
.ticket__info {
  display: flex;
}
.ticket__form {
  border: 2px solid #5f2eea;
  padding-left: 30px;
  padding-top: 30px;
  flex: 2;
  height: 300px;
}
.ticket__code {
  border: 2px solid #5f2eea;
  flex: 1;
  padding-top: 50px;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-bottom-right-radius: 30px;
}
.ticket__text1 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  color: #aaaaaa;
}
.ticket__text2 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  color: #14142b;
  margin-bottom: 20px;
}
@media screen and (max-width: 800px) {
  .ticket__main {
    height: 1500px;
  }
  .ticket__content {
    height: 1200px;
  }
  .ticket__right {
    display: none;
  }
  .ticket__info {
    display: block;
  }
  .ticket__form {
    position: relative;
    /* width: 300px; */
  }
  .ticket__code {
    height: 350px;
  }
}
