.signup__content {
  border: 3px solid #5f2eea;
  border-radius: 30px;
}
.register__master {
  background-color: #fcfdfe;
}
.register__main {
  background-color: #a0a3bd;
}
.register__textLogo {
  color: #f7f7fc;
  font-size: 100px;
  margin-left: 200px;
  position: relative;
  top: 300px;
  font-weight: bold;
}
.signup__alert {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  height: 64px;
  width: 400px;
  justify-content: center;
  position: relative;
  top: 100px;
  left: 80px;
}
.signup__left {
  background-image: url("../../assets/avanger.png");
  height: 950px;
  width: auto;
  object-fit: cover;
}
.signup__right {
  height: auto;
}
.signup__logo {
  position: relative;
  width: 80px;
  left: 83px;
  top: 10px;
  display: none;
}
.signup__desc {
  color: #aaaaaa;
  position: relative;
  width: 400px;
  height: 22px;
  left: 83px;
  top: 130px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 50px;
}
.signup__bar {
  height: 64px;
  width: 400px;
  left: 0px;
  padding: 30px;
  background: #fcfdfe;
  border: 1px solid #dedede;
  border-radius: 16px;
  color: #a0a3bd;
  align-items: flex-start;
}
.signup__name {
  margin-bottom: 30px;
  font-family: "Mulish", sans-serif;
  position: relative;
  left: 83px;
  top: 100px;
  font-weight: bold;
}
.signup__Btn {
  margin-top: 10px;
  position: relative;
  height: 64px;
  width: 400px;
  left: 83px;
  top: 100px;
  border-radius: 16px;
  background-color: #5f2eea;
  color: #f7f7fc;
  font-family: "Mulish", sans-serif;
}
.signup__h1 {
  color: #121212;
  position: relative;
  width: 181px;
  height: 12px;
  left: 83px;
  top: 80px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
}
.signup__p {
  color: #8692a6;
  font-family: "Inter", sans-serif;
  position: relative;
  text-align: center;
  top: 110px;
  left: -50px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin-left: 150px;
}
.signup__banner_img {
  position: relative;
  width: 500px;
  height: 190px;
  left: 150px;
  top: 353px;
}
.signup__motto {
  position: relative;
  width: 500px;
  height: 58px;
  left: 200px;
  top: 400px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  color: rgba(255, 255, 255, 0.8);
}
.signup__overlay {
  background: rgba(43, 21, 107, 0.8);
  height: 950px;
}
.signup__switch {
  color: #5f2eea;
}
@media screen and (max-width: 800px) {
  .signup__left {
    display: none;
  }
  .signup__right {
    position: relative;
    left: -320px;
  }
  .signup__p {
    width: 300px;
  }
  .signup__logo {
    width: 140px;
    display: flex;
    margin-bottom: -50px;
  }
}
